@charset 'utf-8';
@font-face {
  font-family: krub;
  font-style: normal;
  font-weight: 400;
  src: local('Krub'), url(https://fonts.cdnfonts.com/s/20306/Krub-Regular.woff) format('woff');
}
@font-face {
  font-family: krub;
  font-style: normal;
  font-weight: 700;
  src: local('Krub'), url(https://fonts.cdnfonts.com/s/20306/Krub-Bold.woff) format('woff');
}
@font-face {
  font-family: krub light;
  font-style: normal;
  font-weight: 300;
  src: local('Krub Light'), url(https://fonts.cdnfonts.com/s/20306/Krub-Light.woff) format('woff');
}
@font-face {
  font-family: krub medium;
  font-style: normal;
  font-weight: 500;
  src: local('Krub Medium'), url(https://fonts.cdnfonts.com/s/20306/Krub-Medium.woff) format('woff');
}
@font-face {
  font-family: krub semibold;
  font-style: normal;
  font-weight: 600;
  src: local('Krub SemiBold'), url(https://fonts.cdnfonts.com/s/20306/Krub-SemiBold.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 400;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald[wght].woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 400;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-RegularItalic.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 200;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-Extra-LightItalic.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 200;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-ExtraLight.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 300;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-Light.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 300;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-LightItalic.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 500;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-Medium.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 500;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-MediumItalic.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 600;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-Demi-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 600;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-DemiBold.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 700;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-Bold.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 700;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 800;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-Heavy.woff) format('woff');
}
@font-face {
  font-family: oswald;
  font-style: normal;
  font-weight: 800;
  src: local('Oswald'), url(https://fonts.cdnfonts.com/s/16359/Oswald-HeavyItalic.woff) format('woff');
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #ffffff;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'krub', sans-serif;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
/* ------------------------------- RECURENTES -- */
.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.center {
  width: 960px;
  margin: 0 auto;
}
/* ------------------------------- END RECURENTES -- */
header {
  height: 50vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header div.nav {
  height: 20%;
  padding: 0% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.nav div.burger {
  display: none;
}
header div.nav div.logo {
  align-self: center;
}
header div.nav div.menu ul {
  display: flex;
}
header div.nav div.menu ul li {
  list-style-type: none;
  display: block;
  margin: 5px 0px;
}
header div.nav div.menu ul li a {
  font-family: 'krub', sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  padding: 10px;
  display: block;
  font-size: 0.9375vw;
  border-left: 3px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
header div.nav div.menu ul li a:hover {
  background-color: rgba(240, 248, 255, 0.116);
  border-left: 3px solid #C74665;
}
header .main {
  display: flex;
  flex-direction: column;
  height: 80%;
}
header .main .content {
  height: 80%;
  padding: 0% 5%;
  display: flex;
  justify-content: space-between;
}
header .main .content .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
header .main .content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8%;
}
header .main .content .right h1 {
  font-family: 'krub', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}
header .main .content .right p {
  font-family: 'krub', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5rem;
}
header .main .content .right a {
  align-self: center;
  background-color: #d6bb73;
  padding: 2% 4%;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}
header .main .divider {
  height: 20%;
}
/* ------------------------------------------------------------------------- */
/* ----------------------MEDIA QUERIES 1200px ------------------------------- */
/* ------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  .center {
    width: 100%;
    margin: 0 auto;
  }
  header div.nav {
    background-color: white;
  }
  header div.nav div.burger {
    display: block;
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 999;
    right: 2%;
    transition: all 0.3s ease-in-out;
  }
  header div.nav div.burger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #181818;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);
  }
  header div.nav div.burger span::before,
  header div.nav div.burger span::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #181818;
    transition: all 0.3s ease-in-out;
    position: absolute;
  }
  header div.nav div.burger span::before {
    top: -10px;
  }
  header div.nav div.burger span::after {
    top: 10px;
  }
  header div.nav div.burger.burger-open span::before {
    transform: rotate(45deg);
    top: 0;
    background-color: #181818;
  }
  header div.nav div.burger.burger-open span::after {
    transform: rotate(135deg);
    top: 0;
    background-color: #181818;
  }
  header div.nav div.menu {
    height: fit-content;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: white;
    position: fixed;
    right: 0;
    z-index: 300;
    display: none;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #181818;
    border-top: 1px solid #181818;
  }
  header div.nav div.menu.is-open {
    display: flex;
    margin-top: 5.05920344vh;
  }
  header div.nav div.menu a img {
    padding: 20px 50px;
  }
  header div.nav div.menu ul {
    padding: 2% 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  header div.nav div.menu ul li {
    text-align: center;
    list-style-type: none;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
  header div.nav div.menu ul li a {
    font-size: 26px;
    line-height: 48px;
    position: relative;
  }
}
