@charset "utf-8";
@luxant: #d6bb73;


header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
.class,
img {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'Neue';

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

/* ------------------------------- RECURRENT -- */
.btnt {
  visibility: hidden;
}

.clear {
  display: block;
  zoom: 1;

  &::after {
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.text-slider-items {
  display: none;
}

.center {
  width: 960px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.fancybox-caption {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  bottom: 13px;
  text-align: center;
  display: flex;

  &::before {
    background: 0 0;
  }

  &::after {
    border-bottom: 0;
  }

  &.none {
    display: none;
  }

  >span {
    background-color: transparent;
    margin: 0 auto;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 5px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }
}

/* ------------------------------- END RECURRENT -- */