@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
.class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #040404;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'Roboto', sans-serif;
}
html::before,
body::before {
  position: fixed;
  top: 500px;
  left: 100px;
  bottom: 0;
  content: '';
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  transform: rotate(20deg);
}
html::after,
body::after {
  position: fixed;
  top: -150px;
  right: -50px;
  bottom: 0;
  content: '';
  width: 400px;
  height: 600px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  transform: rotate(-30deg);
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/* ------------------------------- RECURRENT -- */
.btnt {
  visibility: hidden;
}
.clear {
  display: block;
  zoom: 1;
}
.clear::after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-slider-items {
  display: none;
}
.center {
  width: 960px;
  margin: 0 auto;
}
.hide {
  display: none;
}
.fancybox-caption {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  bottom: 13px;
  text-align: center;
  display: flex;
}
.fancybox-caption::before {
  background: 0 0;
}
.fancybox-caption::after {
  border-bottom: 0;
}
.fancybox-caption.none {
  display: none;
}
.fancybox-caption > span {
  background-color: transparent;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
/* ------------------------------- END RECURRENT -- */
