* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
html,
body {
  height: 100%;
}
body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  cursor: none;
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.073);
  overflow: hidden;
}
.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  animation-delay: 2.5s;
}
.menu {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}
.menu .logo {
  flex: 0 0 auto;
}
.menu .logo img {
  height: 50px;
}
.menu .spacer {
  flex: 1;
}
.menu .menu-buttons {
  display: flex;
  justify-content: space-around;
  flex: 0 0 60%;
}
.menu .menu-buttons .menu-button {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  transition: color 0.3s;
}
.menu .menu-buttons .menu-button:hover {
  color: #d6bb73;
}
.menu .menu-buttons .menu-button.contact {
  background-color: #d6bb73;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
}
.menu .menu-buttons .menu-button.contact:hover {
  color: white;
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
