@charset "utf-8";
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlGdRyC6CRYbkQiwLByQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlGdRyC6CRYbkQipLNyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlFdRyC6CRYbkQaCA.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlGdRyC6CRYbkQi_LJyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlGdRyC6CRYbkQi0LVyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlGdRyC6CRYbkQitLRyQw.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlEdRyC6CRYZo47KLE.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlEdRyC6CRYZuo4KLE.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlLdRyC6CRYXkY.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlEdRyC6CRYZrI5KLE.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlEdRyC6CRYZp4-KLE.ttf) format('truetype');
}
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/krub/v9/sZlEdRyC6CRYZvo_KLE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZogUE.ttf) format('truetype');
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
.class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #ffffff;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #181818;
}
/* ------------------------------- RECURRENT -- */
.btnt {
  visibility: hidden;
}
.clear {
  display: block;
  zoom: 1;
}
.clear::after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-slider-items {
  display: none;
}
.center {
  width: 960px;
  margin: 0 auto;
}
.hide {
  display: none;
}
.fancybox-caption {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  bottom: 13px;
  text-align: center;
  display: flex;
}
.fancybox-caption::before {
  background: 0 0;
}
.fancybox-caption::after {
  border-bottom: 0;
}
.fancybox-caption.none {
  display: none;
}
.fancybox-caption > span {
  background-color: transparent;
  margin: 0 auto;
  color: #181818;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
/* ------------------------------- END RECURRENT -- */
header {
  height: 100vh;
  width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
header div.nav {
  z-index: 10;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10%;
  transition: height 0.3s ease;
}
header div.nav div.navbar {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.nav div.navbar div.logo {
  width: fit-content;
}
header div.nav div.navbar div.menu {
  width: 50%;
}
header div.nav div.navbar div.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header div.nav div.navbar div.menu ul li {
  width: -webkit-fill-available;
  list-style-type: none;
  text-align: end;
}
header div.nav div.navbar div.menu ul li a {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header div.nav div.navbar div.menu ul li a img {
  display: inline;
}
header div.nav.scrolled {
  height: 5vh;
  /* Nouvelle hauteur réduite */
  padding: 2% 0%;
}
header div.nav.scrolled div.navbar div.logo img {
  width: 50%;
}
header div.main {
  display: flex;
  height: 70%;
  width: 100%;
  align-self: flex-end;
  align-items: flex-end;
}
header div.main div.left {
  height: 100%;
  width: 33.33333333%;
  font-family: 'krub';
}
header div.main div.left div.topline p {
  font-size: 144px;
  font-weight: 700;
  letter-spacing: 15px;
}
header div.main div.left div.topline p span {
  color: #d6bb73;
}
header div.main div.left div.content div {
  position: relative;
}
header div.main div.left div.content div p:nth-of-type(1) {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  letter-spacing: 15px;
}
header div.main div.left div.content div p:nth-of-type(2) {
  position: absolute;
  font-weight: 700;
  left: 40%;
  top: 50%;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
header div.main div.left div.content div p:nth-of-type(2)::before {
  content: url('../assets/icons/square.svg');
  position: absolute;
  left: -20%;
}
div.mid {
  height: 100%;
  width: 33.33333333%;
}
div.mid div.bg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.mid div.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
div.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  padding-left: 4%;
  height: 100%;
  width: 33.33333333%;
}
div.right h1 {
  font-family: 'Krub';
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
div.right p {
  font-family: 'krub';
  font-weight: 600;
  font-size: 20px;
  line-height: 170%;
  text-align: left;
  letter-spacing: 2px;
}
div.right a {
  text-transform: uppercase;
  width: fit-content;
  padding: 2% 5%;
  font-family: 'oswald';
  font-weight: 700;
  font-size: 18px;
  background-color: #d6bb73;
}
section.divider {
  z-index: 9;
  padding: 0% 10%;
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.3);
}
section.divider div {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 2%;
}
section.divider div p {
  font-size: 48px;
  font-family: oswald;
  font-weight: 500;
  color: #d6bb73;
}
section.divider div p:nth-of-type(2) {
  color: #181818;
  font-size: 48px;
  font-family: oswald;
  font-weight: 500;
  letter-spacing: 1px;
}
section.divider div p:nth-of-type(3) {
  color: #181818;
  font-size: 24px;
  font-family: oswald;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 25px;
}
section.divider div p:nth-of-type(3) span {
  font-weight: 500;
}
section.innovation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 8% 0%;
  position: relative;
}
section.innovation div.main {
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/circle.svg');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  position: relative;
}
section.innovation div.main p {
  font-family: 'krub';
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}
section.innovation div.main p:nth-of-type(2) {
  font-weight: 300;
}
section.innovation div.main::before {
  font-family: Krub;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  content: '\25A0  Technologie innovante';
  text-wrap: nowrap;
  font-size: 20px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  color: #181818;
  left: 0;
}
section.innovation div.main::after {
  font-family: Krub;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  content: '\25A0  Technologie innovante';
  font-size: 20px;
  text-wrap: nowrap;
  writing-mode: vertical-lr;
  transform: rotate(-360deg);
  color: #181818;
  right: 0;
}
section.innovation div.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}
section.innovation div.bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33333333%;
}
section.innovation div.bottom div p {
  font-family: 'krub';
  font-weight: 700;
  color: #f1f1f1;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
section.target {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 5%;
}
section.target div.topline {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
section.target div.topline div.gauche div p {
  text-transform: uppercase;
  font-family: 'krub';
  font-weight: 700;
  font-size: 64px;
}
section.target div.topline div.gauche div:nth-of-type(2) p {
  text-align: end;
  font-size: 32px;
  color: #d6bb73;
  font-weight: 500;
}
section.target div.topline div.droite div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
section.target div.topline div.droite div::before {
  position: absolute;
  content: '\25A0';
  left: -25%;
  top: 20%;
  font-size: 26px;
}
section.target div.topline div.droite div p {
  font-family: 'krub';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
section.target div.topline div.droite div p:nth-of-type(2) {
  font-size: 20px;
}
section.target div.content {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 1440px;
}
section.target div.content .slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.target div.content .slider-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
section.target div.content .text,
section.target div.content .image {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.target div.content .text p {
  color: #181818;
  font-family: 'krub';
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
}
section.target div.content .text p:nth-of-type(1) {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  padding: 10% 0% 5% 10%;
}
section.target div.content .text p:nth-of-type(1) span {
  color: #d6bb73;
}
section.target div.content .slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  gap: 5%;
}
section.target div.content .slide p {
  padding: 0% 10%;
}
section.target div.content .active {
  display: flex;
  justify-content: flex-start;
}
section.target div.content .navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  user-select: none;
}
section.target div.content .navigation span {
  cursor: pointer;
}
section.target div.content .navigation span:hover svg path {
  fill: #d6bb73;
}
section.target div.content .navigation span.prev {
  transform: rotate(90deg);
}
section.target div.content .navigation span.next {
  transform: rotate(-90deg);
}
section.next {
  height: 100vh;
}
