@charset "utf-8";
@font-face {
  font-family: valorant;
  font-style: normal;
  font-weight: 400;
  src: local('VALORANT'), url('https://fonts.cdnfonts.com/s/37505/Valorant Font.woff') format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 400;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueItalic.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Thin.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinCond.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinExtObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ThinItalic.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-LightExt.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-UltraLigCond.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-UltraLigExt.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-LightCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-LightExtObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-UltraLigCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyExt.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Extended.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Heavy.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyCond.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ExtBlackCond.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Condensed.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumExt.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Roman.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyExtObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ExtendedObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-ExtBlackCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-CondensedObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-HeavyItalic.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumExtObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BoldExt.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BoldExtObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BoldCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackExt.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Black.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackExtObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueUltraLight.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 100;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueUltraLightItal.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Light.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueLight.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/helvetica-47-light-condensed-587ebd7b5a6f6.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueLightItalic.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 300;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/helvetica-46-light-italic-587ebdb0ea724.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueMedium.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumCond.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-Medium.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 500;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-MediumCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueBold.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueCondensedBold.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/helvetica-75-bold-outline-587ebe00b76ba.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 700;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueBoldItalic.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackCond.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: normal;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeueCondensedBlack.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaNeue-BlackCondObl.woff) format('woff');
}
@font-face {
  font-family: helvetica neue;
  font-style: italic;
  font-weight: 900;
  src: local('Helvetica Neue'), url(https://fonts.cdnfonts.com/s/14188/HelveticaBlkIt.woff) format('woff');
}
@font-face {
  font-family: Neue;
  src: url(../assets/fonts/NeueMontreal-Regular.otf);
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
.class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #ffffff;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'Neue';
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #000000;
}
/* ------------------------------- RECURRENT -- */
.btnt {
  visibility: hidden;
}
.clear {
  display: block;
  zoom: 1;
}
.clear::after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.text-slider-items {
  display: none;
}
.center {
  width: 960px;
  margin: 0 auto;
}
.hide {
  display: none;
}
.fancybox-caption {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  bottom: 13px;
  text-align: center;
  display: flex;
}
.fancybox-caption::before {
  background: 0 0;
}
.fancybox-caption::after {
  border-bottom: 0;
}
.fancybox-caption.none {
  display: none;
}
.fancybox-caption > span {
  background-color: transparent;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 5px 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
/* ------------------------------- END RECURRENT -- */
section.intro {
  height: 30vh;
}
section.intro header {
  position: relative;
  width: 100%;
  z-index: 1;
}
section.intro header::before {
  display: block;
  content: url('../assets/img/mila_header.svg');
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 15%);
  opacity: 0.4;
}
section.intro header nav {
  position: sticky;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 4px 31.5px -17px rgba(0, 0, 0, 0.25);
}
section.intro header nav div.menu {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
}
section.intro header nav div.menu div.logo {
  width: 40%;
}
section.intro header nav div.menu div.logo img {
  width: 30%;
}
section.intro header nav div.menu div.nav {
  width: 60%;
}
section.intro header nav div.menu div.nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section.intro header nav div.menu div.nav ul li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}
section.intro header nav div.menu div.nav ul li:nth-of-type(4) a {
  border-radius: 5px;
  background-color: #d6bb73;
  transition: all 0.2s linear 0s;
}
section.intro header nav div.menu div.nav ul li:nth-of-type(4) a:hover {
  transition: all 0.2s linear 0s;
  color: black;
  background-color: #fff;
}
section.intro header nav div.menu div.nav ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 5% 10%;
}
section.intro header nav div.menu div.nav ul li a:nth-of-type(4) {
  border-radius: 5px;
  background-color: #d6bb73;
}
section.intro header nav div.menu div.nav ul li a:hover {
  color: #d6bb73;
}
div.content {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100%;
  z-index: 10;
}
div.content div.hero_img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}
div.content div.hero_img img {
  height: 95%;
  width: auto;
}
div.content div.intro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 4%;
  gap: 5%;
  width: 50%;
}
div.content div.intro_text h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  color: #1E1E1E;
}
div.content div.intro_text p {
  width: 80%;
  font-family: 'Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 180%;
  color: #1E1E1E;
  margin-bottom: 5%;
}
div.content div.intro_text a {
  font-family: 'Neue';
  font-size: 1.5rem;
  font-weight: 400;
  padding: 2% 3%;
  border-radius: 5px;
  background-color: #d6bb73;
  transition: all 0.2s linear 0s;
}
div.content div.intro_text a:hover {
  transition: all 0.2s linear 0s;
  color: black;
  background-color: #fff;
}
section.vision {
  height: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: 0px 20px 10.5px 35px rgba(0, 0, 0, 0.05);
  position: relative;
}
section.vision::before {
  display: block;
  content: url('../assets/img/vision.svg');
  position: absolute;
  width: 60%;
  left: 60%;
  transform: translate(-50%, 15%);
  opacity: 0.4;
}
section.vision div.content {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
}
section.vision div.content div.text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 50%;
  padding-bottom: 5%;
  gap: 5%;
}
section.vision div.content div.text h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  color: #1E1E1E;
}
section.vision div.content div.text p {
  width: 80%;
  font-family: 'Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 180%;
  color: #1E1E1E;
}
section.vision div.content div.hero_img {
  position: relative;
}
section.vision div.content div.hero_img::after {
  display: block;
  content: url('../assets/img/mila_pose2.png');
  position: absolute;
  width: 100%;
  left: 60%;
  transform: translate(-50%, 15%);
}
section.vision div.content div.hero_img img {
  width: 60%;
  height: auto;
}
section.stats {
  position: relative;
  height: 40vh;
  background-color: #ffffff;
  padding-top: 10%;
}
section.stats div.content {
  background-color: #3E3E3E;
  position: relative;
  height: 30vh;
}
section.stats div.content::before {
  position: absolute;
  content: url('../assets/img/divid.svg');
  top: -67%;
  left: 0;
  width: 100%;
  height: auto;
}
section.stats div.content div.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 3%;
}
section.stats div.content div.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.stats div.content div.container div span:nth-of-type(1) {
  color: white;
  font-size: 5rem;
  font-family: montserrat;
  font-weight: 600;
}
section.stats div.content div.container div span:nth-of-type(2) {
  color: white;
  font-size: 3rem;
  font-family: Neue;
  font-weight: 500;
  text-transform: capitalize;
}
